@media (min-width: 1025px) {
    .ativo {
        background-color: #f1f6fc !important;
    }
    .ativo h6 {
        font-size: 2.5rem;
    }
    #um {
        background-image: url(/images/banner-topo-1920px.jpg);
        background-position: center;
        background-size: cover;
    }
    #um > div {
        height: 96vh;
    }
    h1.primary-title {
        font-size: 4rem;
        width: 160px;
    }
    p.paragrafer {
        width: 459px;
        font-size: 1.4em;
    }
    #dois {
        margin-top: -60px;
    }
    #dois #container,
    #contato #container {
        padding: 50px 0;
    }

    h2.subtitle {
        color: #4f6533;
        font-weight: bold;
        margin: 30px 0 10px 10px;
    }
    div.paragrafer {
        width: 90%;
    }
    #contato {
        background-image: url(/images/banner-rodape-1920px.jpg);
        background-position: center;
        background-size: cover;
    }
    h2.subtitle2 {
        font-size: 2.5rem;
        color: #eca73f;
        font-size: 2.15rem;
        margin-bottom: 30px;
        text-align: right;
    }
    form {
        width: 80%;
        float: right;
    }
    .button {
        float: right;
    }
}
