* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
fieldset {
    border: none;
    margin: 15px 0;
}

html,
body {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}
h6 {
    font-size: 4rem;
    font-weight: bold;
    color: #4f6533;;
}
span,
p,
a {
    color: #4f6533;
    line-height: 1.3;
    margin-bottom: 20px;
}
#button-menu {
    display: none;
}
#button-menu-close {
    display: none;
}

header#menu {
    position: fixed;
    width: 100%;
    top: 0;
}

ul.flex {
    margin-left: 20%;
}
ul.flex li {
    text-align: right;
}
svg {
    width: 36px;
}

.face svg {
    width: 15px;
}

#container {
    width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1,
.flex div {
    flex: 1;
    padding: 10px;
}

.flex-2 {
    flex: 2 !important;
    padding: 10px;
}

ul.flex li {
    flex: 1;
    list-style-type: none;
}

h1.primary-title {
    font-weight: bold;
    line-height: 1;
    color: #4f6533;
}
p.paragrafer {
    margin: 20px 0;
}
a.destaque h4 {
    font-weight: bold;
}
h4.destaque {
    font-size: 1.5em;
    color: #4f6533;
}
#dois {
    background: linear-gradient(
        to right,
        #eca73f 0%,
        #eca73f 50%,
        transparent 50%,
        transparent 100%
    );
}
#dois #container {
    background-color: #eca73f;
    border-radius: 0 100px 0 0;
}

h2.subtitle {
    width: 430px;
    color: #4f6533;
}
h2.subtitle2 {
    color: #eca73f;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-size: 2rem;
    color: #eca73f;
    font-weight: 400;
}
section#contato p {
    color: #fff;
    text-align: center;
}
#contato h6 {
    text-align: center;
    color: #fff;
    margin: 50px 0;
}

label,
input,
textarea {
    display: block;
    width: 100%;
}
textarea,
input {
    color: #000;
    font-size: 1.2em;
    padding-left: 10px;
}
label {
    color: #fff;
    margin-bottom: 5px;
}
input {
    line-height: 2.5;
}
.button {
    background: none;
    border: none;
    color: #eca73f;
    font-size: 2em;
    cursor: pointer;
}
